{% extends "taskzilla/base.html" %}
	{% block maincontent %}
		<div class="container" style="background-color: #f3f3f3;">
			<h2 class="text-center">{{ task.title }}</h2>
			<h4> <small>Task ID: {{ task.id }} </small></h4>
			<!-- <hr> -->
			<p>{{ task.description }}</h2>
		</div>
		<!-- <h2 class=""> Comments </h2> -->
		<div class="container col-sm-offset-1">
			
			{% for comment in comments %}
				<blockquote style="margin: 0px; border-color: #888;">
					
				{{ comment.text }}
				<footer>{{ comment.user }}</footer>
				</blockquote>				
			{% endfor %}
			<blockquote >
				<form action="/tasks/{{ task.id }}/" method="post">
					{% csrf_token %}
					<div class="form-group">
						<h3 for="comment"><small>Add comment:</small></h3>
						<textarea name="text" class="form-control" rows="5" style="max-width: 80%;"></textarea>
					</div>

					<button class="btn btn-primary" type="submit">Submit</button>
				</form>
			</blockquote>
		</div>
	{% endblock maincontent %}
